.watch-card {
  width: 280px;
  margin: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.9);
  /*transition: transform 0.3s ease-in-out;*/
  animation: fadeIn 1s forwards;
}
.watch-card-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.stock-tag {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f3f3f3;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 12px;
  border: 2px solid #ccc;
  z-index: 2;
}

.stock-tag.in {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.stock-tag.out {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.watch-card.disabled {
  opacity: 0.6;
  pointer-events: none;
}


.watch-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 16px 18px rgba(1, 9, 118, 0.6);
}

.watch-image-container {
  position: relative;
}

.watch-image {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px;
}

.added-indicator {
  position: absolute;
  top: -8px;
  right: -9px;
  width: 16px;
  height: 16px;
  background-color: #e74c3c;
  border-radius: 50%;
}

.watch-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.watch-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-name {
  font-size: 16px;
  font-weight: 900;
  color: #333;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch-rating {
  width: 60px;
}

.watch-description {
  font-size: 10px;
  color: #6e6e6e;
  margin-top: -7px;
  font-weight: 600;
}

.watch-price {
  color: #3852a1;
  font-size: 17px;
  font-weight: 800;
}

.watch-stock {
  font-size: 12px;
  font-weight: 500;
  color: #28a783;
  margin:-10px;
  margin-left: 55px;
  margin-top: -5px;
}

/* Red "No items available" message */
.watch-stock.no-stock-msg {
  color: red;
  font-weight: 500;
  font-size: 12px;
  margin: -10px;
  margin-left: 55px;
  margin-top: -5px;
}

.watch-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  border: 3px solid #ccc;
  border-radius: 20px;
}

.counter-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #eee;
  transition: background-color 0.3s;
}

.counter-btn.minus {
  color: red;
  border: 2px solid #ccc;
}

.counter-btn.plus {
  color: #4e73df;
  border: 2px solid #ccc;
}
.counter-btn.minus:hover{
  transform: scale(1.15);
  transition-duration: 0.5s;
  color: #555;
  background-color: #c2c8d8;
}
.counter-btn.plus:hover{
  transform: scale(1.08);
  transition-duration: 0.5s;
  color: #555;
  background-color: #c2c8d8;
}

.counter-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.counter-input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
}

.counter-input:disabled {
  background-color: #f1f1f1;
}

.watch-error {
  font-size: 13px;
  color: #dc3545;
  text-align: center;
  font-weight: bold;
}

.watch-success {
  font-size: 13px;
  color: #28a745;
  text-align: center;
  font-weight: bold;
}

.watch-button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.watch-button.add {
  background-color: #4e73df;
  color: white;
}

.watch-button.add:hover {
  background-color: #375bb1;
}

.watch-button.remove {
  background-color: #333;
  color: white;
}

.watch-button.remove:hover {
  background-color: #444;
}
