.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: rgb(29, 27, 48);
    font-size: max(1vw,12px);
    font-weight: 700;
    gap: 10px;
    font-size: 17px;
}
.cart-items-item{
    margin: 12px 0px;
    margin-left: 0px;
    gap: 12px;
    color: rgb(54, 40, 187);
}
.cart-items-item img{
    width: 50px;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cart-items-item ,cross{
    cursor: pointer;
}
.cart-button{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: max(12vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
    
}
.cart-total button{
    border: none;
    color:white;
    background-color:blue;
    width: max(15vw,200px);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-total button:hover{
    background-color:rgb(72, 72, 135);
    transform: scale(1.1);
    transition: linear;
    transition-duration: 250ms;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #170360;
    font-weight: 600;
    font-size: 17px;
    margin-left: 50px;
}
.cart-promocode-input{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:gray;
    border-radius: 10px;
}
.cart-promocode-input{
    background: transparent;
    border: 2px solid white;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input input{
    background-color: rgb(180, 168, 168);
    outline: none;
    width: 430px;
    padding-left: 20px;
}
.cart-promocode-input button{
    width: max(10vw,100px);
    padding:10px ;
    background-color:rgb(112, 110, 170);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}
.cart-promocode-input button:hover{
    background-color: rgb(131, 140, 143);
    transform: scale(1.1);
    transition: linear;
    transition-duration: 250ms;
}
@media(max-width:750px){
    .cart-button{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}
